@charset "UTF-8";

footer {
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    background-color: #313133;
}

footer > h2 {
    margin-top: 30px;
    margin-bottom: 10px;
    font-size: 2em;

    color: #FFF;    
}

footer > hr {
    width: 70px;
    height: 4px;

    border: none;

    background-color: #FFF;
}

footer > a {
    margin-top: 20px;
    padding: 20px;
    border-radius: 20px;
    background-color: #0e750a;
    color: #FFF;
    text-decoration: none;

    transition: 0.3s;
}

footer > a:hover {
    color: #0e750a;

    background-color: #FFF;
    border: 1px solid #0e750a;
}

footer > ul {
    margin-top: 20px;
}

footer > ul > li {
    overflow-y: hidden;
}

footer > ul > li > a {
    display: flex;
    align-items: center;
    justify-content: center;

    text-decoration: none;
    color: #FFF;
}

footer > ul > li > a > span {
    overflow-y: hidden;
    margin-right: 5px;
}

footer > h3 {
    color: #FFF;
    margin-top: 20px;
}

footer > div.socialMediaContainer {
    margin-top: 10px;
    margin-bottom: 20px;

    display: flex;
    align-items: center;
    justify-content: center;
}

footer > div.socialMediaContainer > a > div.Instagram {
    height: 40px;
    width: 40px;

    background-image: url(../imagens/instagram.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

footer > div.socialMediaContainer > a > div.Facebook {
    height: 35px;
    width: 35px;

    margin: 0px 10px;

    background-image: url(../imagens/facebook.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

footer > div.socialMediaContainer > a > div.Linkedin {
    height: 40px;
    width: 40px;

    background-image: url(../imagens/linkedin.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}