@charset "UTF-8";

@media (min-width: 320px) and (max-width: 599px) {

    header {
        height: 60px;
    }

    header > a > div.headerLogoContainer > img {
        height: 50px;
    }

    header > a > div.headerLogoContainer > p {
        font-size: 1.2em;
    }

    header > nav {
        display: none;
    }

    section#home {
        height: 420px;
        justify-content: center;
    }

    section#home > div.homeTextContainer {
        width: 90%;
        margin-top: 20px;
        margin-left: 0;
    }

    section#home > div.homeTextContainer > h1 {
        font-size: 1.5em;
    }

    section#home > div.homeTextContainer > p {
        font-size: 0.9em;
    }

    section#sobre > div.sobreTextContainer {
        width: 90%;
        margin: 30px 0px 40px 0px;
        padding: 20px 10px;
        box-shadow: 10px 10px #4D4956;
    }

    section#sobre > div.sobreTextContainer > h2 {
        font-size: 1.5em;
    }

    section#sobre > div.sobreTextContainer > hr {
        margin-bottom: 0;
    }

    section#sobre > div.sobreTextContainer > p {
        margin-top: 20px;
        margin-bottom: 0px;
        font-size: 0.9em;
    }

    section#portifolio > h2 {
        margin-top: 30px;
        font-size: 1.5em;
    }

    section#portifolio > hr {
        margin-bottom: 20px;
    }

    section#portifolio > div.cardContainer {
        margin-bottom: 30px;
    }

    section#portifolio > div.cardContainer > a {
        height: 70px;
    }

    section#servicos > h2 {
        margin-top: 30px;
        font-size: 1.5em;        
    }

    section#servicos > hr {
        margin-bottom: 20px;
    }

    section#servicos > div.servContainer {
        margin-bottom: 30px;
    }

    section#servicos > div.servContainer > div.servItem  {
        height: 330px;
        width: 90%;
    }

    section#servicos > div.servContainer > div.servItemCenter {
        height: 330px;
        width: 90%;
        margin: 10px 0px
    }

    section#servicos > div.servContainer > div.servItem > p.preco {
        margin-top: 10px;
    }

    section#servicos > div.servContainer > div.servItemCenter > p.preco {
        margin-top: 10px;
    }

    footer > h2 {
        font-size: 1.5em;
    }

    footer > a {
        height: 60px;
        width: 90%;
        padding: 0;

        display: flex;
        align-items: center;
        justify-content: center;

        text-align: center;
    }

    footer > ul {
        max-width: 90%;
    }

    footer > ul > li > a {
        font-size: 0.7em;
    }

    a.whatsappButton {
        display: none;
    }

}