@charset "UTF-8";

section#sobre {
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    background-color: #EAE1E9;
}

section#sobre > h2 {
    margin-top: 30px;
    margin-bottom: 10px;
    font-size: 2em;
}

section#sobre > hr {
    width: 70px;
    height: 4px;

    border: none;

    background-color: #616C83;
}

section#sobre > div.sobreTextContainer {
    width: 700px;
    margin-top: 30px;
    margin-bottom: 20px;
}

section#sobre > div.sobreTextContainer > p {
    margin-bottom: 20px;

    text-align: justify;
    font-size: 1.1em
    
}

