@charset "UTF-8";

section#sobre {
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: center;

    background-color: #EAE1E9;
}

section#sobre > div.sobreTextContainer {
    width: 700px;
    margin: 50px 0px 70px 0px;
    padding: 20px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    border: 1px solid #313133;
    border-radius: 20px;

    box-shadow: 20px 20px #4D4956;

    transition: 0.3s;
}

section#sobre > div.sobreTextContainer:hover {
    transform: translateY(-5px);
}

section#sobre > div.sobreTextContainer > h2 {
    margin-bottom: 5px;
    font-size: 2em;
}

section#sobre > div.sobreTextContainer > hr {
    height: 4px;
    width: 70px;
    margin-bottom: 30px;
    border: none;
    background-color: #616C83;
}

section#sobre > div.sobreTextContainer > p {
    margin-bottom: 20px;

    text-align: justify;
    font-size: 1.1em
}

