@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Tinos:ital,wght@0,400;0,700;1,400;1,700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

html, body {
    scroll-behavior: smooth;
}

body {
    max-width: 2000px;
    width: 100%;
    margin: auto;
    background-color: var(--gray);
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.326);
}

header {
    height: 60px;

    position: sticky;
    top: 0;
    z-index: 1000;

    display: flex;
    align-items: center;
    justify-content: center;

    background-color: #003c66ea;
}

.logo-container {
    height: 100%;
    width: 300px;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

.logo {
    height: 55px;
    width: 60px;
}

.gamaral {
    height: 25px;
}

.nav-bar {
    height: 100%;
    width: 700px;
}

.nav-list {
    height: 100%;
    width: 100%;

    list-style: none;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
}

.nav-item {
    height: 100%;

    position: relative;

    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-item::after {
    content: "";
    position: absolute;
    width: 0;
    height: 2px;
    left: 0;
    bottom: 0;
    color: #FFC107;
    border-bottom: 3px solid #FFC107;
    transition: width 0.3s ease;
}

.nav-item:hover::after {
    width: 100%;
}

.nav-link {
    height: 100%;
    width: 100%;

    position: relative;

    display: flex;
    align-items: center;
    justify-content: center;

    text-decoration: none;
    color: #F2F2F2;
    font-size: 1em;
    font-weight: 500;

    transition: 0.3s;
}

.nav-link:hover {
    color: #FFC107;
}

.mobile-header {
    display: none;
}

#home {
    height: 550px;
    width: 100%;

    position: relative;

    background-color: #313133;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.326);

    background-image: url(../imagens/space-brackground.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.home-text-container {
    width: 900px;

    position: absolute;
    top: 170px;
    left: 130px;

    color: white;
    text-shadow: 1px 1px 10px #ffc10777;
}

.home-text-container h1 {
    font-size: 2.8em;
    margin-bottom: 10px;
}

.home-text-container p {
    font-size: 1.3em;
    text-align: justify;
}

#sobre {
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #F2F2F2;
}

.sobre-text-container {
    width: 900px;
    margin: 60px 0px 120px;
    padding: 0px 90px;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;

    position: relative;

    border-left: 1px solid #003B66;
    border-right: 1px solid #003B66;
    border-radius: 20px;
}

.sobre-text-container h2 {
    margin-bottom: 5px;
    font-size: 1.9em;
    color: #003B66;
}

.sobre-text-container hr {
    height: 4px;
    width: 60px;
    margin-bottom: 30px;
    border: none;
    background-color: #FFC107;
}

.sobre-text-container p {
    margin-bottom: 20px;
    z-index: 1;

    text-align: justify;
    font-size: 1.1em;

}

.astrocat {
    height: 630px;
    width: 640px;
    z-index: 1;

    position: absolute;
    top: 110px;
    right: 570px;    
}

.planet {
    height: 540px;
    width: 540px;
    
    position: absolute;

    top: -140px;
    left: 480px;
}

#portifolio {
    width: 100%;

    position: relative;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    background-color: #003B66;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.326);

    background-image: url(../imagens/space-pattern-02.png);
    background-size: contain;
    background-position: center;
    
}

.tech-container {
    padding: 10px 50px;

    position: absolute;
    top: -80px;
    left: 800px;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;

    background-image: linear-gradient(120deg, #ececec, #CBE0EE);
    border-radius: 30px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.26); 
    
    transition: 0.3s;
}

.tech-container:hover {
    transform: translateY(-5px);
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.418); 
}

.tech-container img {
    height: 90px; 

    transition: 0.3s;
}

.tech-container img:hover {
    transform: translateY(-5px);
}

#JS {
    height: 70px;
}

#portifolio h2 {
    margin-top: 80px;
    margin-bottom: 5px;
    font-size: 2em;
    color: #F2F2F2;
}

#portifolio hr {
    width: 70px;
    height: 4px;
    margin-bottom: 30px;
    border: none;
    background-color: #FFC107;
}

.portifolio-card-container {
    width: 100%;
    margin-bottom: 100px;
    padding-top: 5px;
    
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.portifolio-card {
    height: 280px;
    width: 300px;

    position: relative;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;


    box-shadow: 1px 2px 3px #ffffff94;
    border: 5px solid #CBE0EE;
}

.portifolio-card-image-container {
    height: 170px;
    width: 100%;
    position: relative;
    
}

.portifolio-card-image-container img {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    border: 1px solid #FFF;
    object-fit: cover;
}

.portifolio-card-image-container a {
    opacity: 0;

    position: absolute;

    top: 0;

    height: 100%;
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: center;

    z-index: 2;

    text-decoration: none;
    background-color: #3131336a;

    font-size: 20px;
    font-weight: 600;
    color: #FFF;

    transition: 0.3s;
}

.portifolio-card-image-container a:hover {
    opacity: 1;
}

.portifolio-card h3 {
    padding: 10px;

    position: absolute;
    top: 150px;
    z-index: 10;

    background-color: #CBE0EE;
    border-radius: 20px;

    color: #003B66;
    text-align: center;
    font-size: 0.9em;
}

.portifolio-card p {
    padding: 5px;
    margin-top: 20px;
    color: #FFF;
    font-size: 14px;
    text-align: justify;
}

#jm {
    order: 1;
}

#devmed {
    order: 2;
}

#demo1 {
    order: 3;
}

#demo2 {
    order: 4;
}

#servicos {
    width: 100%;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    background-color: #F2F2F2;
}

#servicos h2 {
    margin-top: 50px;
    margin-bottom: 5px;
    font-size: 2em;
    color: #003B66;
}

#servicos > hr {
    height: 4px;
    width: 70px;
    margin-bottom: 30px;
    border: none;
    background-color: #FFC107;
}

.servicos-card-container {
    width: 100%;
    margin-bottom: 50px;
    padding: 5px;

    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 15px;
}

.servicos-card {
    height: 420px;
    width: 340px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;


    border: 1px solid #CCC;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.267);
    border-radius: 10px;

    transition: 0.3s;
}

.servicos-card:hover {
    transform: translateY(-5px);
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.267);
}

.servicos-card hr {
    height: 1px;
    width: 90%;
    background-color: #CCC;
    border: none;
}

.servicos-card img {
    height: 100px;
}

.servicos-card h3 {
    font-size: 1.5em;
}

.servicos-card p {
    width: 80%;
    font-size: 1em;
    text-align: left;
}

.call-to-action {
    height: 400px;
    width: 340px;

    position: relative;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.call-to-action img {
    height: 300px;

    position: absolute;
    top: 30px;
}

.botao-orcamento {
    height: 60px;
    width: 280px;
    

    position: absolute;
    top: 230px;
    z-index: 50;

    display: flex;
    align-items: center;
    justify-content: center;

    text-decoration: none;
    color: #F2F2F2;
    font-size: 1.1em;

    background-color: #003B66;
    border: 1px solid #F2F2F2;
    border-radius: 50px;

    transition: 0.3s;
}

.botao-orcamento:hover {
    color: #003B66;

    background-color: #F2F2F2;
    border: 1px solid #003B66;
}

footer {
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;

    background-color: #003B66;
    background-image: url(../imagens/space-pattern-01.png);
    background-size: contain;
    background-position: center;
}

.footer-left-container {
    height: 100%;
    width: 400px;

    display: flex;
    align-items: center;
    justify-content: center;
}

.footer-left-container img {
    height: 300px;
}

.footer-left-container p {
    font-size: 2em;
    color: #F2F2F2;
    font-weight: 600;
}

.footer-right-container {
    height: 100%;
    
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.footer-right-container h2 {
    margin-top: 30px;
    margin-bottom: 5px;
    font-size: 2em;

    color: #F2F2F2;    
}

.footer-right-container hr {
    width: 70px;
    height: 4px;
    border: none;
    background-color: #FFC107;
}

.footer-whatsapp-button {
    margin: 20px 0px;
    padding: 20px;
    border-radius: 20px;
    border: 1px solid #003B66;
    background-color: #0e750a;
    color: #FFF;
    text-decoration: none;

    transition: 0.3s;
}

.footer-whatsapp-button:hover {
    color: #0e750a;

    background-color: #FFF;
    border: 1px solid #0e750a;
}

.footer-right-container > ul > li {
    overflow-y: hidden;
}

.footer-right-container > ul > li > a {
    display: flex;
    align-items: center;
    justify-content: flex-start;

    text-decoration: none;
    color: #FFF;
}

.footer-right-containerr > ul > li > a > span {
    overflow-y: hidden;
    margin-right: 10px;
}

.footer-right-container > h3 {
    color: #FFF;
    margin: 20px 0px 10px 0px;
}

.social-media-container {
    margin-bottom: 30px;

    display: flex;
    align-items: center;
    justify-content: center;
}

.instagram {
    height: 30px;
    width: 30px;

    background-image: url(../imagens/instagram.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.facebook {
    height: 30px;
    width: 30px;

    margin: 0px 10px;

    background-image: url(../imagens/facebook.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.linkedin {
    height: 30px;
    width: 30px;

    background-image: url(../imagens/linkedin.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.whatsapp-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 60px;
    height: 60px;
    z-index: 1000;  

    overflow-y: hidden;
}

.whatsapp-button img {
    width: 100%;
    height: auto;
}

@media (min-width: 300px) and (max-width: 599px) {

    header {
        display: none;
    }

    .mobile-header {
        width: 100%;
        padding: 1rem;

        display: flex;
        flex-direction: column;
        gap: 0.8rem;
        
        position: sticky;
        top: 0;
        z-index: 1000;

        background-color: #003B66;
    }

    .mobile-nav-bar {
        width: 100%;

        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .mobile-logo-container {
        height: 100%;

        display: flex;
        align-items: center;
        justify-content: center;
        gap: 5px;
    }

    .mobile-logo {
        height: 40px;
        width: 45px;
    }

    .mobile-gamaral {
        height: 20px;
    }

    .mobile-nav-list {
        width: 100%;

        list-style: none;
        display: none;
        flex-direction: column;
        gap: 0.4rem;
    }

    .mobile-nav-list.open {
        display: flex;
    }

    .mobile-nav-item {
        width: 100%;

        border: 1px solid #CBE0EE;
        padding: 0.3rem;
    }

    .mobile-nav-link {
        height: 100%;
        width: 100%;
    
        text-decoration: none;
        color: #F2F2F2;
    }

    .mobile-menu-icon button {
        background-color: transparent;
        border: none;
        cursor: pointer;
    }


    #home {
        height: 350px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .home-text-container {
        width: 90%;
        position: absolute;
        top: 80px;
        left: auto;

    }

    .home-text-container h1 {
        font-size: 1.5em;
    }

    .home-text-container p {
        font-size: 1em;
    }

    .sobre-text-container {
        width: 90%;
        margin-top: 40px;
        margin-bottom: 110px;
        padding: 10px 20px;
        border-radius: 10px;
    }

    .sobre-text-container h2 {
        font-size: 1.5em;
    }

    .sobre-text-container p {
        font-size: 0.9em;
    }

    .astrocat {
        height: 350px;
        width: 350px;
        top: 460px;
        right: auto;
        left: 0;
    }

    .planet {
        height: 300px;
        width: 300px;

        top: -100px;
        left: auto;
        right: -30px;
    }

    .tech-container {
        display: none;
    }

    #portifolio h2 {
        margin-top: 80px;
        font-size: 1.5em;
    }

    .portifolio-card-container {
        margin-bottom: 50px;
    }

    .servicos-card-container {
        flex-direction: column;
        margin-bottom: 30px;
    }

    #servicos h2 {
        font-size: 1.5em;
    }

    .call-to-action {
        order: 3;
    }

    .servicos-card {
        height: 380px;
        width: 90%;
        gap: 30px;
    }

    .servicos-card img {
        height: 80px;
        width: 70px;
    }

    .servicos-card h3 {
        font-size: 1.4em;
    }

    .servicos-card p {
        font-size: 0.9em;
    }

    .call-to-action {
        height: 240px;
        width: 90%;
    }

    .call-to-action img {
        height: 200px;
        width: 200px;
    }

    .botao-orcamento {
        top: 180px;
    }

    footer {
        flex-direction: column;
        gap: 0px;
    }

    .footer-left-container {
        height: auto;
        width: 100%;
    }

    .footer-left-container img {
        height: 250px;
        width: 180px;
    }

    .footer-left-container p {
        font-size: 1.5em;
        width: 40%;
    }

    .footer-right-container {
        height: auto;
        width: 100%;
        align-items: center;
    }

    .footer-right-container h2 {
        margin-top: 0;
    }
}