@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Tinos:ital,wght@0,400;0,700;1,400;1,700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

html {
    font-size: 62.5%;
}

html, body {
    scroll-behavior: smooth;
}

body {
    max-width: 2000px;
    width: 100%;
    margin: auto;
    background-color: #F2F2F2;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.326);
}

header {
    height: 6rem;

    position: sticky;
    top: 0;
    z-index: 1000;

    display: flex;
    align-items: center;
    justify-content: center;

    background-color: #003c66ea;
}

.logo-container {
    height: 5rem;
    width: 18rem;
}

.logo {
    height: 100%;
    width: 100%;
}

.nav-bar {
    height: 100%;
    width: 70rem;
}

.nav-list {
    height: 100%;
    width: 100%;

    list-style: none;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4rem;
}

.nav-item {
    height: 100%;

    position: relative;

    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-item::after {
    content: "";
    position: absolute;
    width: 0;
    height: 2px;
    left: 0;
    bottom: 0;
    color: #FFC107;
    border-bottom: 3px solid #FFC107;
    transition: width 0.3s ease;
}

.nav-item:hover::after {
    width: 100%;
}

.nav-link {
    height: 100%;
    width: 100%;

    position: relative;

    display: flex;
    align-items: center;
    justify-content: center;

    text-decoration: none;
    color: #F2F2F2;
    font-size: 1.5rem;
    font-weight: 500;

    transition: 0.3s;
}

.nav-link:hover {
    color: #FFC107;
}

.mobile-header {
    display: none;
}

#home {
    height: 55rem;
    width: 100%;

    position: relative;

    background-color: #313133;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.326);

    background-image: url(../imagens/space-brackground.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.home-content {
    width: 90rem;

    position: absolute;
    top: 17rem;
    left: 20rem;

    color: white;
    text-shadow: 2px 2px 10px #ffc10777;
}

.home-content h1 {
    font-size: 4rem;
    margin-bottom: 1rem;
}

.home-content p {
    font-size: 2rem;
    text-align: justify;
}

#sobre {
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: center;

    background-color: #F2F2F2;
}

.sobre-text {
    width: 90rem;
    margin: 6rem 0 12rem 0;
    padding: 0px 9rem;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;

    position: relative;

    border-left: 1px solid #003B66;
    border-right: 1px solid #003B66;
    border-radius: 2rem;
}

.sobre-text h2 {
    margin-bottom: 0.5rem;
    font-size: 3rem;
    color: #003B66;
}

.sobre-text hr {
    height: 0.4rem;
    width: 6rem;
    margin-bottom: 3rem;
    border: none;
    background-color: #FFC107;
}

.sobre-text p {
    margin-bottom: 2rem;
    z-index: 1;

    text-align: justify;
    font-size: 1.7rem;

}

.mobile-astrocat {
    display: none;
}

.astrocat {
    height: 63rem;
    width: 64rem;
    z-index: 1;

    position: absolute;
    top: 11rem;
    right: 57rem;    
}

.planet {
    height: 54rem;
    width: 54rem;
    
    position: absolute;
    z-index: 50;

    top: -14rem;
    left: 48rem;
}

#portifolio {
    width: 100%;

    position: relative;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    background-color: #003B66;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.326);

    background-image: url(../imagens/space-pattern-02.png);
    background-size: contain;
    background-position: center;
}

.mobile-tech-container {
    display: none;
}

.tech-container {
    padding: 1rem 4rem;

    position: absolute;
    top: 43rem;
    left: 43rem;
    z-index: 50;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;

    background-image: linear-gradient(120deg, #ececec, #CBE0EE);
    border-radius: 30px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.26); 
    
    transition: 0.3s;
}

.tech-container:hover {
    transform: translateY(-0.5rem);
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.418); 
}

.tech-container img {
    height: 8rem; 
    width: 5.8rem;

    transition: 0.3s;
}

.tech-container img:hover {
    transform: translateY(-0.5rem);
}

#JS {
    height: 6rem;
    width: 6rem;
}

#portifolio h2 {
    margin: 8rem 0 0.5rem;
    font-size: 3rem;
    color: #F2F2F2;
}

#portifolio hr {
    width: 7rem;
    height: 0.4rem;
    margin-bottom: 3rem;
    border: none;
    background-color: #FFC107;
}

.portifolio-card-container {
    width: 100%;
    margin-bottom: 10rem;
    padding-top: 0.5rem;
    
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 3rem;
}

.portifolio-card {
    height: 28rem;
    width: 30rem;

    position: relative;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;


    box-shadow: 1px 2px 3px #ffffff94;
    border: 4px solid #CBE0EE;
}

.portifolio-card-image-container {
    height: 17rem;
    width: 100%;
    position: relative;
    
}

.portifolio-card-image-container img {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    border: 1px solid #FFF;
    object-fit: cover;
}

.portifolio-card-image-container a {
    opacity: 0;

    position: absolute;

    top: 0;

    height: 100%;
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: center;

    z-index: 2;

    text-decoration: none;
    background-color: #3131336a;

    font-size: 2rem;
    font-weight: 600;
    color: #FFF;

    transition: 0.3s;
}

.portifolio-card-image-container a:hover {
    opacity: 1;
}

.portifolio-card h3 {
    padding: 1rem;

    position: absolute;
    top: 15rem;
    z-index: 10;

    background-color: #CBE0EE;
    border-radius: 20px;

    color: #003B66;
    text-align: center;
    font-size: 1.3rem;
}

.portifolio-card p {
    padding: 0.5rem;
    margin-top: 2rem;
    color: #FFF;
    font-size: 1.4rem;
    text-align: justify;
}

#jm {
    order: 1;
}

#devmed {
    order: 2;
}

#demo1 {
    order: 3;
}

#demo2 {
    order: 4;
}

#servicos {
    width: 100%;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    background-color: #F2F2F2;
}

#servicos h2 {
    margin: 5rem 0 0.5rem 0;
    font-size: 3rem;
    color: #003B66;
}

#servicos > hr {
    height: 0.4rem;
    width: 7rem;
    margin-bottom: 3rem;
    border: none;
    background-color: #FFC107;
}

.servicos-card-container {
    width: 100%;
    margin-bottom: 5rem;
    
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
}

.servicos-card {
    height: 42rem;
    width: 34rem;
    padding: 1.5rem 0rem;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    
    border: 1px solid #CCC;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.267);
    border-radius: 10px;

    transition: 0.3s;
}

.servicos-card:hover {
    transform: translateY(-0.5rem);
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.267);
}

.servicos-card hr {
    height: 0.1rem;
    width: 90%;
    background-color: #CCC;
    border: none;
}

.servicos-card img {
    height: 10rem;
    width: 8rem;
}

.servicos-card h3 {
    font-size: 2rem;
}

.servicos-card p {
    width: 80%;
    font-size: 1.5rem;
    text-align: justify;
}

.call-to-action {
    height: 40rem;
    width: 34rem;

    position: relative;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.call-to-action img {
    height: 30rem;
    top: 1rem;

    position: absolute;
}

.botao-orcamento {
    height: 6rem;
    width: 28rem;
    
    position: absolute;
    top: 27rem;
    z-index: 50;

    display: flex;
    align-items: center;
    justify-content: center;

    text-decoration: none;
    color: #F2F2F2;
    font-size: 1.5rem;
    font-weight: 600;

    background-color: #003B66;
    border: 1px solid #F2F2F2;
    border-radius: 50px;

    transition: 0.3s;
}

.botao-orcamento:hover {
    color: #003B66;

    background-color: #F2F2F2;
    border: 1px solid #003B66;
}

footer {
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5rem;

    background-color: #003B66;
    background-image: url(../imagens/space-pattern-01.png);
    background-size: contain;
    background-position: center;
}

.footer-left-container {
    height: 100%;
    width: 40rem;

    display: flex;
    align-items: center;
    justify-content: center;
}

.footer-left-container img {
    height: 20rem;
    width: 18rem;
}

.footer-left-container p {
    font-size: 3rem;
    color: #F2F2F2;
    font-weight: 600;
}

.footer-right-container {
    height: 100%;
    
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.footer-right-container h2 {
    margin-top: 3rem;
    margin-bottom: 0.5rem;
    font-size: 3rem;

    color: #F2F2F2;    
}

.footer-right-container hr {
    width: 7rem;
    height: 0.4rem;
    border: none;
    background-color: #FFC107;
}

.footer-whatsapp-button {
    margin: 2rem 0;
    padding: 2rem;
    border-radius: 20px;
    border: 1px solid #003B66;
    background-color: #0e750a;
    color: #FFF;
    text-decoration: none;
    font-size: 1.5rem;

    transition: 0.3s;
}

.footer-whatsapp-button:hover {
    color: #0e750a;

    background-color: #FFF;
    border: 1px solid #0e750a;
}

.footer-right-container > ul > li {
    overflow-y: hidden;
    display: flex;
}

.footer-right-container > ul > li > a {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 0.5rem;

    text-decoration: none;
    color: #FFF;
    font-size: 1.5rem;
}

.footer-right-containerr > ul > li > a > span {
    overflow-y: hidden;
}

.footer-right-container > h3 {
    color: #FFF;
    margin: 2rem 0px 1rem 0px;
    font-size: 1.5rem;
}

.social-media-container {
    margin-bottom: 3rem;

    display: flex;
    align-items: center;
    justify-content: center;
}

.instagram {
    height: 3rem;
    width: 3rem;

    background-image: url(../imagens/instagram.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.facebook {
    height: 3rem;
    width: 3rem;

    margin: 0 1rem;

    background-image: url(../imagens/facebook.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.linkedin {
    height: 3rem;
    width: 3rem;

    background-image: url(../imagens/linkedin.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.whatsapp-button {
    height: 5rem;
    width: 5rem;
    
    position: fixed;
    bottom: 2rem;
    right: 2rem;
    
    z-index: 1000;  

    overflow-y: hidden;
}

.whatsapp-button img {
    width: 100%;
    height: 100%;
}

@media (min-width: 320px) and (max-width: 575px) {

    header {
        display: none;
    }

    .mobile-header {
        width: 100%;
        padding: 1rem;

        display: flex;
        flex-direction: column;
        gap: 0.8rem;
        
        position: sticky;
        top: 0;
        z-index: 1000;

        background-color: #003B66;
    }

    .mobile-nav-bar {
        width: 100%;

        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .mobile-logo-container {
        height: 100%;

        display: flex;
        align-items: center;
        justify-content: center;
        gap: 5px;
    }

    .mobile-logo {
        height: 40px;
        width: 45px;
    }

    .mobile-gamaral {
        height: 20px;
    }

    .mobile-nav-list {
        width: 100%;

        list-style: none;
        display: none;
        flex-direction: column;
        gap: 0.6rem;
    }

    .open {
        display: flex;
    }

    .mobile-nav-item {
        width: 100%;
        overflow: hidden;

        border: 1px solid #CBE0EE;
        border-radius: 1rem;

        transition: 0.5s;
    }

    .mobile-nav-item:hover {
        border: 1px solid #003B66;
    }

    .mobile-nav-link {
        height: 100%;
        width: 100%;
        padding: 0.5rem;

        display: flex;
        align-items: center;
        justify-content: center;
    
        text-decoration: none;
        color: #F2F2F2;
        font-size: 1.5rem;
        font-weight: 500;

        transition: 0.5s;
    }

    .mobile-nav-link:hover {
        background-color: #CBE0EE;
        color: #003B66;
    }

    .mobile-menu-icon button {
        background-color: transparent;
        border: none;
        cursor: pointer;
    }

    #home {
        height: 40rem;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .home-content {
        width: 90%;
        position: absolute;
        top: 7rem;
        left: auto;
    }

    .home-content h1 {
        font-size: 3.2rem;
    }

    .home-content p {
        font-size: 1.8rem;
    }

    #sobre {
        flex-direction: column;
        position: relative;
    }

    .sobre-text {
        width: 90%;
        margin: 3rem 0 12rem 0;
        padding: 1.5rem;
    }

    .sobre-text h2 {
        font-size: 2.5rem;
    }

    .sobre-text p {
        font-size: 1.4rem;
    }

    .astrocat {
        display: none;
    }

    .mobile-astrocat {
        display: block;

        height: 37.5rem;
        width: 37.5rem;

        position: absolute;
        z-index: 1;

        bottom: -170px;
        left: -50px;
    }

    .planet {
        height: 250px;
        width: 250px;

        top: -90px;
        left: auto;
        right: -20px;
    }

    .tech-container {
       display: none;
    }

    .mobile-tech-container {
        display: block;
        position: absolute;
        bottom: 90px;
        right: 30px;
        z-index: 50;

        padding: 5px 20px;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10px;

        background-image: linear-gradient(120deg, #ececec, #CBE0EE);
        border-radius: 20px;
        box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.26); 

        transition: 0.3s;
    }

    .mobile-tech-container:hover {
        transform: translateY(-5px);
        box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.418);
    }

    .mobile-tech-container img {
        height: 40px;
        width: 30px;

        transition: 0.3s;
    }

    .mobile-tech-container img:hover {
        transform: translateY(-5px);
    }

    #JS {
        height: 35px;
        width: 35px;
    }

    #portifolio h2 {
        margin-top: 80px;
        font-size: 2.5rem;
    }

    .portifolio-card-container {
        margin-bottom: 50px;
    }

    .portifolio-card {
        width: 70%;
        min-width: 30rem;
        
    }

    .portifolio-card h3 {
        font-size: 1.5rem;
    }

    .portifolio-card p {
        font-size: 1.3rem;
    }

    .servicos-card-container {
        flex-direction: column;
        margin-bottom: 30px;
    }

    #servicos h2 {
        margin: 4rem 0 0.5rem 0;
        font-size: 2.5rem;
    }

    .call-to-action {
        order: 3;
    }

    .servicos-card {
        height: 38rem;
        width: 70%;
        min-width: 30rem;
        
    }

    .servicos-card img {
        height: 9rem;
        width: 8rem;
    }

    .servicos-card h3 {
        font-size: 2rem;
    }

    .servicos-card p {
        font-size: 1.3rem;
    }

    .call-to-action {
        height: 30rem;
        width: 90%;
    }

    .call-to-action img {
        height: 25rem;
        width: 25rem;
    }

    .botao-orcamento {
        top: 20rem;
    }

    footer {
        flex-direction: column;
        gap: 0px;
    }

    .footer-left-container {
        height: auto;
        width: 100%;
        order: 2;
        margin-bottom: 3rem;
    }

    .footer-left-container img {
        height: 16rem;
        width: 14rem;
    }

    .footer-left-container p {
        font-size: 2rem;
        width: 40%;
    }

    .footer-right-container {
        height: auto;
        width: 100%;
        margin-top: 3rem;
        order: 1;
        align-items: center;
    }

    .footer-right-container h2 {
        font-size: 2.5rem;
        margin-top: 0;
    }

    .footer-whatsapp-button {
        font-size: 1.4rem;
    }
}